<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="fragment-nav">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="/">Notice Board</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">


            <!--   로그인 유저 페이지 -->
            <div th:if="${session.loginMember != null}">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/user/updateForm">회원정보</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            카테고리
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/">전체 글 보기</a>
                            <a class="dropdown-item" href="/daily">일상</a>
                            <a class="dropdown-item" href="/date">데이트</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/saveForm">글쓰기</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">작성글</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">로그아웃</a></li>
<!--                    <button id="btn-save" class="btn btn-primary">로그아웃</button>-->

                </ul>
            </div>

            <!--  비 로그인 페이지  -->
            <div th:if="${session.loginMember == null}">
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/loginForm">로그인</a></li>
                        <li class="nav-item"><a class="nav-link" href="/joinForm">회원가입</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <br/>
</div>

<!--<script src="/js/user.js"></script>-->

</html>
